dacite==1.5.1
dataclasses==0.6
exchangelib==3.3.2
jinja2==2.11.3
Pillow==8.1.2
pikepdf==2.8.0
PyPDF2==1.26.0
google-api-core==1.23.0
google-cloud-core==1.4.3
google-cloud-secret-manager==1.0.0
google-cloud-storage==1.33.0
