dacite==1.6.0
dataclasses==0.6
exchangelib==4.1.0
jinja2==2.11.3
Pillow==8.2.0
pikepdf==2.10.0
PyPDF2==1.26.0
google-api-core==1.26.1
google-cloud-core==1.6.0
google-cloud-secret-manager==2.3.0
google-cloud-storage==1.36.2
