<div>
    <p>
        Let op: Wij hebben uw mail niet verwerkt gezien de e-mail geen PDF bestand bevat. Wij willen u vragen facturen als PDF bestand te sturen. Wij willen u vragen de factuur + bijlagen als toekomstig als 1 samengevoegd PDF bestand te sturen.
    </p>
    <p>
        <br />
        Indien u een betaalherinnering heeft gestuurd naar dit e-mailadres, zal deze NIET in behandeling worden genomen. <br />
        Betaalherinneringen kunt u sturen naar <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a>.<br />
        <br />
        Indien u een WKA verklaring heeft gestuurd naar dit e-mailadres, zal deze NIET in behandeling worden genomen. <br />
        WKA verklaringen kunt u sturen naar <a href="mailto:wka@vwtelecom.com">wka@vwtelecom.com</a>.<br />
        <br />
        Dit is een automatisch gegenereerd bericht. Mocht u nog vragen hebben dan verzoeken wij u deze te richten aan <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a><br />
        <br />
        <br />
        Met vriendelijke groet,<br />
        <br />
        Crediteurenadministratie<br />
        <br />
        Voor vragen: <br />
        T : (088) 186 01 00<br />
        E : <a href="mailto:Crediteuren@vwtelecom.com">Crediteuren@vwtelecom.com</a><br />
        <br />
    </p>
    <p></p>
    <p>
        Dear Vendor,<br />
        <br />
        <u>Warning:</u> We have not processed this invoice. Please send invoices as PDF document.
    </p>
    <p></p>
    <p>
        In case you have send us a payment reminder to this e-mail account, it will not be read.<br />
        Payment reminders can be send to <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a><br />
        <br />
        This is an autoreply message. In case of any questions, you can send them to <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a><br />
        <br />
        Kind regards,<br />
        <br />
        Accounts payable department<br />
        +31 88 186 00 100
    </p>
</div>
