<div>
    <p>
        Geachte leverancier,<br />
        <br />
        Bedankt voor het digitaal toezenden van uw factuur met het kenmerk: {{ email.subject }} <br />
        Wij hebben uw factuur in goede orde ontvangen en de factuur zal zo snel mogelijk in behandeling genomen worden.<br />
        <br />
        Indien u een betaalherinnering heeft gestuurd naar dit e-mailadres, zal deze NIET in behandeling worden genomen. <br />
        Betaalherinneringen kunt u sturen naar <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a>.<br />
        <br />
        Indien u een WKA verklaring heeft gestuurd naar dit e-mailadres, zal deze NIET in behandeling worden genomen. <br />
        WKA verklaringen kunt u sturen naar <a href="mailto:wka@vwtelecom.com">wka@vwtelecom.com</a>.<br />
        <br />
        Dit is een automatisch gegenereerd bericht. Mocht u nog vragen hebben dan verzoeken wij u deze te richten aan <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a><br />
        <br />
    </p>
    <p>
        <br />
        Met vriendelijke groet,<br />
        <br />
        Crediteurenadministratie<br />
        <br />
        Voor vragen: <br />
        T : (088) 186 01 00<br />
        E : <a href="mailto:Crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a><br />
        <br />
        <br />
        Dear Vendor,<br />
        <br />
        Thank you for sending your invoice with reference: {{email.subject}}<br />
        We have received your invoice and we will take care of this invoice as soon as possible.<br />
        <br />
        In case you have send us a payment reminder to this e-mail account, it will not be read.<br />
        <br />
        Payment reminders can be send to <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a><br />
        <br />
        This is an autoreply message. In case of any questions, you can send them to <a href="mailto:crediteuren@vwtelecom.com">crediteuren@vwtelecom.com</a><br />
        <br />
        Kind regards,<br />
        <br />
        Accounts payable department<br />
        +31 88 186 00 100
    </p>
</div>
